{% extends "base.html" %} 
{% load i18n %} 
{% load staticfiles %}
{% load thumbnail %}

{% block content %}

    {% static "oppia_implementations/images/dc-logo-150x150.png" as oppia_logo %}
	<div style="text-align:center; margin-top:20px;">
		<img src="{{ oppia_logo }}" alt="OppiaMobile logo"/>
	</div>
	<div style="max-width:500px; text-align:center; margin: 10px auto ">
	<h2>{% trans 'OppiaMobile Implementations' %}</h2>
	</div>
	
	<div class="container" style="max-width:800px;">
	{% for implementation in implementations %}
		
		<div class="row" style="margin-bottom:15px;">
			<div class="col-xs-1">
			{% thumbnail implementation.implementation_logo "50x50" crop="center" as im %}
				<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">				
			{% endthumbnail %}
			</div>
			<div class="col-xs-11">
			<h3 style="margin-top:5px">{{ implementation.title }}</h3>
			<p>{{ implementation.description }}</p>
			{% if implementation.app_download_url %}
				{% trans 'App download:' %} <a href="{{ implementation.app_download_url }}">{{ implementation.app_download_url }}</a><br/>
			{% endif %}	
			{% if implementation.app_code_url %}
				{% trans 'App code:' %} <a href="{{ implementation.app_code_url }}">{{ implementation.app_code_url }}</a><br/>
			{% endif %}	
			{% if implementation.server_code_url %}
				{% trans 'Server code:' %} <a href="{{ implementation.server_code_url }}">{{ implementation.server_code_url }}</a><br/>
			{% endif %}	
			</div>
		</div>
			
	{% endfor %}
	</div>

{% endblock %}
