{% extends "base.html" %} 
{% load i18n %} 
{% load staticfiles %}
{% load thumbnail %}

{% block content %}

    {% static "oppia_implementations/images/dc-logo-150x150.png" as oppia_logo %}
	<div style="text-align:center; margin-top:20px;">
		<img src="{{ oppia_logo }}" alt="OppiaMobile logo"/>
	</div>
	<div style="max-width:500px; text-align:center; margin: 10px auto ">
	<h2>{% trans 'OppiaMobile Implementations' %}</h2>
	<h2>{% trans 'Current' %}</h2>
	</div>
	
	<div class="container" style="max-width:800px;">
	{% for implementation in implementations %}
		{% include 'includes/implementation_row.html' %}	
	{% endfor %}
	</div>
	
	<div style="max-width:500px; text-align:center; margin: 10px auto ">
	<h2>{% trans 'Previous/Archived' %}</h2>
	</div>
	
	<div class="container" style="max-width:800px;">
	{% for implementation in previous_implementations %}
		{% include 'includes/implementation_row.html' %}	
	{% endfor %}
	</div>

{% endblock %}
